html {
	padding:10px;
	font-family: "Century Gothic"
}
body {
	background-color: #efefef;
}
header {
	background: url("imgs/bg-header.jpg");
	margin-bottom: 55px;
}
#baner {
	margin-top: 160px;
	background-color: #dcd121;
}
#baner h3 {
	font-size: 25px;
	margin:0;
	padding:5px;
}
#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 0;
    right: 0;
}
h1#title {
    position: absolute;
    top: 88px;
    left: 146px;
    bottom: 0;
    right: 0;
	font-weight: 900;
	letter-spacing: -0.03em;
	color: white;
	font-size: 35px;
	text-transform: uppercase;
}
#plus {
	height: 25px;
}



/*  Le parti presentation */
#presentation{
	background-image: url("imgs/ecailles.png");
	background-repeat: repeat;
	margin-top: 100px;
}
/*  Chaque parti de presentation */
#article{
	border: 1px red;
	padding-top: 30px;
}
/*  Le photo des presentation */
.pres1{
	border: 10px double green;
	border-radius: 50%;
}
/*  Le titre des presentation */
.titre-pres{
	font-size: 30px;
	text-align: center;
	color: #424242;
}
/*  Le text des presentation */
.text-pres{
	text-align: justify;
	font-size: 20px;
	color: #424242;
}