html {
	padding:10px;
}
body {
	background-color: #efefef;
}
#baner {
	margin-top: 150px;
	background-color: #a0a0a0;
}
#baner h3 {
	font-size: 25px;
	margin:0;
	padding:5px;
}
#logo {
    position: absolute;
    top: -135px;
    left: 15px;
    bottom: 0;
    right: 0;
}

/*  Le parti presentation */
#presentation{
	background-image: url("ecailles.png");
	background-repeat: repeat;
	margin-top: 100px;
}
/*  Chaque parti de presentation */
#article{
	border: 1px red;
	padding-top: 30px;
}
/*  Le photo des presentation */
.pres1{
	border: 10px double green;
	border-radius: 50%;
}
/*  Le titre des presentation */
.titre-pres{
	font-size: 30px;
	text-align: center;
	color: #424242;
}
/*  Le text des presentation */
.text-pres{
	text-align: justify;
	font-size: 20px;
	color: #424242;
}
