<!DOCTYPE html>
<html lang="fr">
     <head>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="../css/style.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
          <title>Wild Astronaute</title>
     </head>
     <body>
          <div class="container">
               <header>
               </header>
               <!-- détails article -->
               <div class="row ">
                    <div id="articleContent" class="col-xs-12 article_detail">
                    </div>
               </div>
               <footer>
               </footer>
          </div>
          <script type="text/javascript" src="../collections/articles.js"></script>
          <script type="text/javascript" src="../models/article.js"></script>
          <script type="text/javascript" src="../controllers/template_controller.js"></script>
          <script type="text/javascript" src="../controllers/detail_controller.js"></script>
     </body>
</html>
