
<!-- BLOCK ARTICLES GRANDE IMAGE A GAUCHE -->
<div class="row articlesPlacer rowAdjust">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="row">
            <!-- BIG DIV -->
            <div class="col-xs-12 col-sm-6 img-padding imageDiv">
            </div>
            <!-- THREE DIV -->
            <div class="col-xs-12 col-sm-6" >
                <div class="row">
                    <!-- LARGE DIV -->
                    <div class="col-xs-12 img-padding imageDiv">fertertert ee er tre ter
                    </div>
                </div>
                <div class="row">
                    <!-- FIRST SMALL DIV -->
                    <div class="col-xs-12 col-sm-6 img-padding imageDiv">
                    </div>
                    <!-- SECOND SMALL DIV -->
                    <div class="col-xs-12 col-sm-6 img-padding imageDiv">
                    </div>
                </div>
            </div>
            <!-- END THREE DIV -->
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
