
<!-- BLOCK ARTICLES GRANDE IMAGE A GAUCHE -->
<!-- BIG DIV -->
<div class="col-xs-12 col-sm-6 img-padding imageDiv bigDiv">
</div>
<!-- THREE DIV -->
<div class="col-xs-12 col-sm-6" >
     <div class="row">
          <!-- LARGE DIV -->
          <div class="col-xs-12 img-padding imageDiv largeDiv">
          </div>
     </div>
     <div class="row">
          <!-- FIRST SMALL DIV -->
          <div class="col-xs-12 col-sm-6 img-padding imageDiv bigDiv">
          </div>
          <!-- SECOND SMALL DIV -->
          <div class="col-xs-12 col-sm-6 img-padding imageDiv bigDiv">
          </div>
     </div>
</div>
<!-- END THREE DIV -->
