
<!-- BLOCK ARTICLES GRANDE IMAGE A GAUCHE -->
<!-- THREE DIV -->
<div class="col-xs-12 col-sm-6" >
     <div class="row">
          <!-- LARGE DIV -->
          <div class="col-xs-12 img-padding imageDiv" id="secondArticle">
          </div>
     </div>
     <div class="row">
          <!-- FIRST SMALL DIV -->
          <div class="col-xs-12 col-sm-6 img-padding imageDiv" id="thirdArticle">
          </div>
          <!-- SECOND SMALL DIV -->
          <div class="col-xs-12 col-sm-6 img-padding imageDiv" id="fourthArticle">
          </div>
     </div>
</div>
<!-- BIG DIV -->
<div class="col-xs-12 col-sm-6 img-padding imageDiv" id="firstArticle">
</div>
<!-- END THREE DIV -->
